//*VARIABLES*/
$primary-color: #111;
$inverted-primary: #f1f1f1;
$secondary-color: #c00;
$inverted-secondary: #5d7cdd;

$bg-fog: rgba(255,255,255,.85);
$bg-muted: lighten($primary-color, 50%);
$bg-primary: $primary-color;
$bg-secondary: $secondary-color;

$basic-font-size: 14px;
$gradation-step: 10%;


$break-xlarge: 1200px;
$break-large:  980px;
$break-medium: 768px;
$break-small:  400px;
$break-xsmall: 320px;


//*MIXINS*/
@mixin default-box {
  display: block;
  margin: 0;
  padding:0;
  font-size: $basic-font-size;
  box-sizing: border-box;
}

//*FUNCTIONS*/
//@Todo add Function for converting a px based font-size to rem.

@function step2percent($step){
  @return ($step * $gradation-step);
}

@function darkenBy($base, $step) {
  @return darken($base, step2percent($step));
}

//*ANIMATIONS*/
@keyframes carousel {
  0%     {opacity: 0;}//0
  2.5%   {opacity: 1;}//2.5
  17.5%  {opacity: 1;} //7.5
  20%    {opacity: 0;}//10s
  100%   {opacity: 0;}//50s
}

@keyframes runningLine {
  10%    {text-indent: 0;}
  20%    {text-indent: -36px;}
  35%    {text-indent: -36px;}
  45%    {text-indent: -64px;}
  50%    {text-indent: -64px;}
  60%    {text-indent: -90px;}
  75%    {text-indent: -90px;}
  99.99% {text-indent: -120px;}
  100%   {text-indent: 0;}
}

