@keyframes carousel {
  0% {
    opacity: 0; }
  2.5% {
    opacity: 1; }
  17.5% {
    opacity: 1; }
  20% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes runningLine {
  10% {
    text-indent: 0; }
  20% {
    text-indent: -36px; }
  35% {
    text-indent: -36px; }
  45% {
    text-indent: -64px; }
  50% {
    text-indent: -64px; }
  60% {
    text-indent: -90px; }
  75% {
    text-indent: -90px; }
  99.99% {
    text-indent: -120px; }
  100% {
    text-indent: 0; } }

* {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

html,
body {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.site-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  position: relative; }

.main-frame {
  position: relative; }

.side-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
  .side-frame.dock-top {
    bottom: auto;
    transform: translate(0, -100%); }
  .side-frame.dock-right {
    left: auto;
    transform: translate(100%, 0); }
  .side-frame.dock-bottom {
    top: auto;
    transform: translate(0, 100%); }
  .side-frame.dock-left {
    right: auto;
    transform: translate(-100%, 0); }
  .side-frame.shifted {
    transform: translate(0, 0); }

ul {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box; }
  ul.unstyled {
    list-style: none; }

a {
  color: #c00; }

section {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh; }
  section.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    section.slide:nth-of-type(1) {
      background: #2546af;
      background: url(../images/mtl-dtwn.jpg) no-repeat center center;
      background-size: cover; }
    section.slide:nth-of-type(2) {
      background: #1c3585;
      background: url(../images/mtl-cafe.jpg) no-repeat center center;
      background-size: cover; }
    section.slide:nth-of-type(3) {
      background: #335ad4; }
    section.slide .content-box {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 14px;
      box-sizing: border-box;
      margin: 10px;
      max-width: 100%;
      max-height: 100%; }
      section.slide .content-box.content-bio {
        display: flex;
        flex-direction: row; }
        @media screen and (max-width: 768px) {
          section.slide .content-box.content-bio {
            flex-direction: column; } }

.btn {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  padding: 4px  10px;
  color: #111;
  background: #919191;
  border: none; }
  .btn:hover, .btn:focus, .btn:active {
    color: #444444;
    background: #c4c4c4; }
  .btn.btn-primary {
    color: #f1f1f1;
    background: #111; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      color: white;
      background: #444444; }
  .btn.btn-secondary {
    color: #5d7cdd;
    background: #c00; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
      color: #b1c0ef;
      background: #ff3333; }

.menu-trigger {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 4px;
  border: 1px solid #111;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.25);
  color: #111;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1; }
  .menu-trigger .icon-default {
    font-size: 16px;
    margin: 0 2px -2px;
    color: #111; }

nav.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  display: inline-block;
  min-width: 180px;
  height: 100vh;
  margin: 0;
  padding: 60px 0;
  background: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  transition: transform .5s;
  z-index: 1; }
  nav.menu.is-active {
    transform: translate(0, 0); }
  nav.menu > ul a {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    color: #919191;
    text-align: center;
    font-size: 24px; }
    nav.menu > ul a:hover, nav.menu > ul a:focus, nav.menu > ul a:active {
      color: #111; }
    nav.menu > ul a [class^=icon] {
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      text-align: center; }
  nav.menu > ul ul {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    padding: 100px 10px 10px;
    margin: -10px -10px 0 auto;
    background: silver;
    transform: translate(calc(100% + 10px), 0); }
  nav.menu > ul a.is-active ul {
    transform: translate(0, 0); }

.icon-default {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block; }

.icon-custom {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box; }

.icon-menu {
  position: relative;
  width: 1.25em;
  height: 1em; }
  .icon-menu::before, .icon-menu::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0; }
  .icon-menu::before {
    height: 100%;
    border: 0.22em solid #111;
    border-color: inherit;
    border-left: none;
    border-right: none;
    background: transparent;
    box-sizing: border-box;
    top: 0; }
  .icon-menu::after {
    height: auto;
    border-top: 0.22em solid #111;
    border-color: inherit;
    top: 50%;
    transform: translate(0, -50%); }

.icon-experience {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }
  .icon-experience::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border-top: 13px groove #ff0000;
    border-left: 13px ridge #ff0000;
    border-right: 6px groove transparent;
    border-bottom: 6px ridge transparent;
    transform: rotate(56deg) skew(23deg) translate(-34%, 50%); }
  .icon-experience::after {
    content: '6';
    display: inline-block;
    width: 60%;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 30% 0;
    background: #ffd700;
    border-radius: 50%;
    border: 2px outset #ffd700;
    color: #A00000;
    font-size: 26px;
    line-height: 1px;
    text-decoration: none;
    font-style: normal;
    font-family: Helvetica, sans-serif;
    text-align: center;
    transform: translate(-50%, 0);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .icon-experience:hover::before, .icon-experience:active::before, .icon-experience:focus::before {
    border-top: 13px groove #990000;
    border-left: 13px ridge #990000; }
  .icon-experience:hover::after, .icon-experience:active::after, .icon-experience:focus::after {
    background: #998100;
    border: 2px outset #998100; }

.icon-cmd {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }
  .icon-cmd::before {
    content: 'c:\\ ...';
    display: block;
    width: 80%;
    height: 65%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10px;
    padding: 4px;
    color: #111;
    font-style: normal;
    line-height: 12px;
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    border-top: 6px solid #0000fe;
    border-right: 2px outset #0000fe;
    border-bottom: 2px outset #0000fe;
    border-left: 2px inset #0000fe;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.85); }
  .icon-cmd::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 40%;
    right: 6%;
    background: transparent;
    border: 2px dotted #5e5e5e;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #5e5e5e; }
  .icon-cmd:hover::before, .icon-cmd:active::before, .icon-cmd:focus::before {
    color: black;
    background: rgba(204, 204, 204, 0.85);
    border-top: 6px solid #000098;
    border-right: 2px outset #000098;
    border-bottom: 2px outset #000098;
    border-left: 2px inset #000098;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.85); }
  .icon-cmd:hover::after, .icon-cmd:active::after, .icon-cmd:focus::after {
    border: 2px dotted #2b2b2b;
    box-shadow: inset 0 0 0 5px #2b2b2b; }

.icon-browser {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }
  .icon-browser::before {
    content: 'HTML, CSS, JS & MORE... HTML,';
    display: block;
    width: 80%;
    height: 65%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 10px;
    padding: 4px;
    color: #111;
    font-style: normal;
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    border-top: 4px dashed #5e5e5e;
    border-right: 2px outset #919191;
    border-bottom: 2px outset #919191;
    border-left: 2px inset #919191;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.85);
    animation: runningLine 20s;
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap; }
  .icon-browser::after {
    content: '';
    display: block;
    width: 14px;
    height: 21px;
    position: absolute;
    top: 27%;
    right: 4%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    border-top: 2px solid #111;
    border-right: 2px outset #111;
    border-bottom: 8px outset #111;
    border-left: 2px inset #111;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.85); }
  .icon-browser:hover::before, .icon-browser:active::before, .icon-browser:focus::before {
    color: black;
    background: rgba(204, 204, 204, 0.85);
    border-top: 4px dashed #2b2b2b;
    border-right: 2px outset #5e5e5e;
    border-bottom: 2px outset #5e5e5e;
    border-left: 2px inset #5e5e5e;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.85); }
  .icon-browser:hover::after, .icon-browser:active::after, .icon-browser:focus::after {
    background: rgba(204, 204, 204, 0.85);
    border-top: 2px solid black;
    border-right: 2px outset black;
    border-bottom: 8px outset black;
    border-left: 2px inset black;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.85); }

.icon-design {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }
  .icon-design::before {
    content: '';
    display: block;
    width: 50%;
    height: 5%;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translate(-50%, 0) skew(50deg);
    font-size: 10px;
    padding: 4px;
    color: #111;
    font-style: normal;
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    border: 2px solid #111; }
  .icon-design::after {
    content: '';
    display: block;
    width: 2px;
    height: 16px;
    position: absolute;
    top: 35%;
    left: 60%;
    background: #ff0;
    border-radius: 5px;
    border-top: 2px solid transparent;
    border-right: 2px outset transparent;
    border-bottom: 8px outset #f00;
    border-left: 2px inset transparent;
    transform: translate(-50%, -50%) rotate(30deg);
    box-shadow: 0 6px 0 -1px #f00; }
  .icon-design:hover::before, .icon-design:active::before, .icon-design:focus::before {
    color: black;
    background: rgba(204, 204, 204, 0.85);
    border-top: 4px dashed black;
    border-right: 2px outset black;
    border-bottom: 2px outset black;
    border-left: 2px inset black;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.85); }
  .icon-design:hover::after, .icon-design:active::after, .icon-design:focus::after {
    background: rgba(204, 204, 204, 0.85);
    border-top: 2px solid black;
    border-right: 2px outset black;
    border-bottom: 8px outset black;
    border-left: 2px inset black;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.85); }

.icon-eye {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative; }
  .icon-eye::before {
    content: '';
    display: block;
    width: 60%;
    height: 55%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-30%, 0);
    font-size: 10px;
    padding: 4px;
    color: #111;
    font-style: normal;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edfcff+10,ff2a05+10,ff1e1e+19,e8fcfc+29,00a545+29,00c472+41,f3ffea+46,eafff1+49,0030f2+49,0b54ef+60,ffffff+65,f2e1ed+71,f407b5+71,ff0c4d+81,ededef+88,eff6ff+93,870002+94 */
    background: white;
    /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #edfcff 10%, #ff2a05 10%, #ff1e1e 19%, #e8fcfc 29%, #00a545 29%, #00c472 41%, #f3ffea 46%, #eafff1 49%, #0030f2 49%, #0b54ef 60%, white 65%, #f2e1ed 71%, #f407b5 71%, #ff0c4d 81%, #ededef 88%, #eff6ff 93%, #870002 94%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, white 0%, #edfcff 10%, #ff2a05 10%, #ff1e1e 19%, #e8fcfc 29%, #00a545 29%, #00c472 41%, #f3ffea 46%, #eafff1 49%, #0030f2 49%, #0b54ef 60%, white 65%, #f2e1ed 71%, #f407b5 71%, #ff0c4d 81%, #ededef 88%, #eff6ff 93%, #870002 94%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, white 0%, #edfcff 10%, #ff2a05 10%, #ff1e1e 19%, #e8fcfc 29%, #00a545 29%, #00c472 41%, #f3ffea 46%, #eafff1 49%, #0030f2 49%, #0b54ef 60%, white 65%, #f2e1ed 71%, #f407b5 71%, #ff0c4d 81%, #ededef 88%, #eff6ff 93%, #870002 94%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#870002',GradientType=0 );
    /* IE6-9 */
    box-sizing: border-box;
    border-top: 1px solid #111;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    border-left: 1px solid #111;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.85);
    animation: runningLine 20s;
    animation-iteration-count: infinite;
    overflow: hidden;
    white-space: nowrap; }
  .icon-eye::after {
    content: 'O';
    display: block;
    width: 40%;
    height: 0;
    padding: 20% 0 20%;
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    line-height: 1px;
    font-style: normal;
    text-align: center;
    color: #111;
    top: 38%;
    left: 16%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 75% 15%;
    transform: rotate(45deg);
    border: 2px solid #111; }
  .icon-eye:hover::before, .icon-eye:active::before, .icon-eye:focus::before {
    box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.25); }
  .icon-eye:hover::after, .icon-eye:active::after, .icon-eye:focus::after {
    color: black;
    background: rgba(204, 204, 204, 0.85);
    border: 2px solid black; }

.icon-nodejs {
  display: inline-block;
  width: 26px;
  height: 31px;
  background: url(../images/icon-nodejs.png) no-repeat;
  background-size: auto 100%;
  background-position: -3px 0;
  overflow: hidden; }

.icon-linkedin::before {
  content: 'in';
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: #919191;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  font-weight: 800;
  font-style: normal; }

a:hover .icon-linkedin::before,
a:focus .icon-linkedin::before,
a:active .icon-linkedin::before {
  background: #0077b5; }

.icon-pdf::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../images/icon-pdf.png") no-repeat;
  background-size: contain;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  font-weight: 800;
  font-style: normal; }

a:hover .icon-pdf::before,
a:focus .icon-pdf::before,
a:active .icon-pdf::before {
  background: url("../images/icon-pdf-active.png") no-repeat;
  background-size: contain; }

.icon-github::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../images/icon-github.png") no-repeat;
  background-size: contain;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  line-height: 38px;
  font-weight: 800;
  font-style: normal; }

a:hover .icon-github::before,
a:focus .icon-github::before,
a:active .icon-github::before {
  background: url("../images/icon-github-active.png") no-repeat;
  background-size: contain; }

.icon-contact {
  position: relative; }
  .icon-contact::before, .icon-contact::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 30px;
    background: #f1f1f1;
    border: 3px solid #919191;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    line-height: 38px;
    font-weight: 800;
    font-style: normal; }
  .icon-contact::after {
    width: 30px;
    position: absolute;
    top: 0;
    left: 50%;
    box-sizing: border-box;
    border: 4px solid #919191;
    transform: translate(-50%, -40%) rotate(45deg);
    box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.75); }
  a:hover .icon-contact::before,
  a:focus .icon-contact::before,
  a:active .icon-contact::before {
    border: 3px solid #111; }
  a:hover .icon-contact::after,
  a:focus .icon-contact::after,
  a:active .icon-contact::after {
    border: 3px solid #111;
    box-shadow: inset -3px -3px 4px #919191; }

.icon-html,
.icon-css,
.icon-js {
  display: inline-block;
  width: 28px;
  height: 31px;
  background: url(../images/icon-html-css-js.png) no-repeat;
  background-size: auto 100%;
  overflow: hidden; }

.icon-html {
  background-position: 0 0; }

.icon-css {
  background-position: -35px 0; }

.icon-js {
  background-position: -71px 0; }

.figure-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 230px;
  max-height: 230px;
  border: 4px solid #f1f1f1;
  border-radius: 50%;
  margin: 10px;
  overflow: hidden;
  transform: translate(0, -20%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 768px) {
    .figure-wrapper {
      margin: 10px auto; } }
  .figure-wrapper img {
    display: inline-block;
    width: 100%;
    height: auto; }

.carousel {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  width: 300px;
  height: 180px;
  position: relative;
  background: rgba(255, 255, 255, 0.85); }
  .carousel ul.slide-container {
    width: 100%;
    height: 100%; }
    .carousel ul.slide-container > li {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 14px;
      box-sizing: border-box;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 20px; }
      .carousel ul.slide-container > li span {
        display: block;
        opacity: 0;
        animation: carousel 50s;
        animation-delay: 0s;
        animation-iteration-count: infinite; }
      .carousel ul.slide-container > li:nth-of-type(2) span {
        animation-delay: 10.5s; }
      .carousel ul.slide-container > li:nth-of-type(3) span {
        animation-delay: 20.5s; }
      .carousel ul.slide-container > li:nth-of-type(4) span {
        animation-delay: 30.5s; }
      .carousel ul.slide-container > li:nth-of-type(5) span {
        animation-delay: 40.5s; }
      .carousel ul.slide-container > li.is-active {
        display: block; }
      .carousel ul.slide-container > li .nav-tab {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        transform: translate(0, -100%); }
      .carousel ul.slide-container > li:nth-child(2) .nav-tab {
        transform: translate(100%, -100%); }
      .carousel ul.slide-container > li:nth-child(3) .nav-tab {
        transform: translate(200%, -100%); }
      .carousel ul.slide-container > li:nth-child(4) .nav-tab {
        transform: translate(300%, -100%); }
      .carousel ul.slide-container > li:nth-child(5) .nav-tab {
        transform: translate(400%, -100%); }
  .carousel h2 {
    font-size: 16px; }

form {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  min-width: 320px; }
  form .input-group {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 10px; }
    form .input-group:last-of-type {
      margin: 0 auto; }
  form label {
    display: none; }
  form input[type=text],
  form input[type=email],
  form textarea,
  form button[type=submit] {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    resize: none; }

footer {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 50%;
  min-width: 320px;
  font-size: 12px;
  color: #f1f1f1;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  transform: translate(-50%, 0);
  vertical-align: middle; }
  footer a {
    display: inline-block;
    width: auto;
    height: auto; }

/*# sourceMappingURL=style.css.map */